torch==2.1.0
torchvision
pytest
numpy==1.26.0
ipykernel
ipywidgets
tqdm
sigpy==0.1.27
plyfile
hydra-core
hydra-ray-launcher
diffusers==0.34.0
transformers==4.47.0
accelerate
prefect[ray]==3.4.0
fastapi<0.120
ray[default]==2.52.0 #2.48.0
cloudpickle
pydantic
wandb==0.19.11 
pandas<3.0
omegaconf
matplotlib
h5py
fastmri
moviepy
ptwt
ninja==1.11.1.4 # for nvdiffrast
s3fs
dict-hash
sentencepiece
linear_operator
k3d
seaborn
einops
nibabel
twixtools
optuna
lpips
DISTS-pytorch
mri-nufft[cufinufft,autodiff]
torchkbnufft
datalad
git-annex